@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar{
  padding-left: calc(60px + 1rem + 20px)!important;
}
#hamburgernav{
  color: white;
  border-radius: 4px;
  width: min-content;

}
#hamburger.opened{
  display: block!important;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  color: white;
  border-radius: 4px;
  width: min-content;

}
@media only screen and (max-width: 320px) {

  .navbar-brand {
    font-size: medium;
    margin: 0;
  }

  .navbar-brand img {
    height: 20px;
  }
}
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand p {
  margin: 0;
  margin-left: 0.25rem;
  color: white;
  font-weight: bold;
}
.controller{
  width: 100%;
  height: 100vh;
  user-select: none;
  display: flex;
  flex-direction: column;
}
.dashboard {
  width: 100%;
  flex: 1;
  z-index:2;
  overflow-y: scroll;
  padding-left: calc(60px + 1rem);
  background-color: #0f1f36;
  user-select: none;
  display: flex;
}

.flex-1 {
  flex: 1
}

.sidebar {
  height: 100%;
  min-width: calc(60px + 1rem);
  padding: 2rem 1rem;
  overflow: none;
  z-index: 999999;
  background-color: #0f1f36;
  transition-duration: 0.1s;
  display: flex;
  flex-direction: column;

}
.sidebar div::-webkit-scrollbar{
  width: 0;
}

.sidebar h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.content {
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: auto;
}


.opended-sidebar {
  min-width: 270px;
  width: max-content;
  padding-top: 1rem;
  transition-duration: 0.1s;
  overflow: auto;
}

.profile {
  width: 100%;
  aspect-ratio: 1 / 1;
  transition-duration: 0.1s;
  border-radius: 50%;
  overflow: hidden;
}

.profile.opened {
  background-color: whitesmoke;
  width: 100%;
  aspect-ratio: auto;
  height: max-content;
  transition-duration: 0.1s;
  border-radius: 10px;
}

.profile .section2 {
  display: none;
  padding: 1rem;
}


.profile .section1 {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  align-items: flex-end;
  border-radius: 50%;
  border: 1px solid black;
}

.profile.opened .section2 {
  display: flex;
}

.profile.opened .section1 {
  display: none;
}

.profile .section2 .section1 {
  display: flex;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-width: 3px;
}
.page .section1 i{
  font-size: 35px !important;
}

.details-text {
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.1rem;
}

.detail-card img {
  max-width: 150px !important;
  aspect-ratio: 1 / 1;
}

.logout .section1 {
  display: flex;

}

.logout.opened .section1 {
  display: none;
}

.logout.opened .section2 {
  display: flex;
  border-radius: 10px;
  background-color: red;
  color: black;
  align-items: center;
}

.logout .section2 {
  display: none;
}

.logout .section1 {
  display: flex;

}

.logout.opened .section1 {
  display: none;
}

.logout.opened .section2 {
  display: flex;
  border-radius: 10px;
  background-color: red;
  color: whitesmoke;
  align-items: center;
  padding: 0.5rem;
}

.logout .section2 {
  display: none;
}

.page {
  margin-bottom: 2rem;
}

.page .section1 {
  display: flex;

}

.pages.opened .page .section1 {
  display: none;
}

.pages.opened .page .section2 {
  display: flex;
  border-radius: 10px;
  background-color: whitesmoke;
  color: black;
  align-items: center;
  padding: 0.5rem;
  width: fit-content;
  min-width: 100%;
}

.page .section2 {
  display: none;
}

@media screen and (max-width:720px) {
  .profile .section1 i {
    font-size: 32px;
  }

  .profile .section2 .section1 i {
    font-size: 70px;
  }
}

@media screen and (max-width:480px) {
  .sidebar {
    padding: 0.8rem 0.5rem;
    margin-right: 0.2rem;
  }

  .content {
    padding: 0.3rem !important;
  }
  .navbar{
    padding-left: 1rem!important;
  }
  #hamburgernav{
    display: block!important;
  }

  .sidebar{
    display: none;
  }
  .sidebar.opended-sidebar{
    display: flex;
  }
  #hamburger.opened{
    font-size: 25px!important;
    align-self: end;
    padding-right: 5px;
  }

  .table {
    max-width: 100% !important;
  }

  .dashboard {
    padding: 0.2rem;
  }

  .table {
    width: 100% !important;
  }

  .opended-sidebar {
    width: 100%;
    min-width: 100%;
  }
}

@media screen and (max-width:250px) {
  .profile {
    width: 30px;
    height: 30px;
    transition-duration: 0.1s;
    border-radius: 50%;
    overflow: hidden;
  }

  .profile .section2 {
    padding: 0.3rem;
  }

  .profile .section2 .section1 i {
    font-size: 50px !important;
  }

  .profile .section2 .section1 {
    width: 60px;
    height: 60px;
  }

  .profile .section1 {
    width: 30px;
    height: 30px;
    display: flex;
  }

  .sidebar h4 {
    font-size: 90%;
  }

  .pages i, .logout i {
    font-size: 30px !important;
  }

  .profile .section1 i {
    font-size: 24px !important;
  }

}
