<div class="main_section">
  <div class="header d-flex px-2 py-2 align-items-center justify-content-between">
    <h3>SRYMAK</h3>
    <button class="end_button bg-white px-5 py-2">END</button>
  </div>
  <div class="instructions px-5 m-auto my-3">
        <p>Follow the below steps</p>
        <p>Go to</p>
        <div class=" h d-flex"><h3 class="m-0" style="width:-webkit-fill-available">JOIN QUIZ</h3> <div class="p-2" style="border-radius:10px;background-color:#00000020"><img src="../../assets/copy.png" height="35" width="35"></div></div>
  </div>
  <div class="student_list">
    <div class="students_no">
      <i class="fa-solid fa-user-group"></i>&nbsp;&nbsp;&nbsp;0
        </div>
    <button>START</button>

  </div>
</div>
