<app-header [active_tab]="4"></app-header>
<div class="row mt-5 px-md-5 px-xs-3">
  <div class="box col-12 p-0">
    <p class="heading">FAQs</p>
    <div class="faqs px-md-5 px-xs-3">
        <details>
          <summary>Why should we choose SRYMAK ?</summary>
          <p class="text">Srymak, is a platform which provides students with face to face classes.<br>
            You can interact with camera📷 and mic🎙️.<br>
            Easy to understand explanation with fun<br>
          </p>
        </details>
        <details>
          <summary>When will the course start?</summary>
          <p class="text">RMS & Sainik School - 20 march 2023<br>Class 6 to 10 - 3 April 2023<br></p>
        </details>
        <details>
          <summary>How many students were there in a Group (batch)?</summary>
          <p class="text">There were maximum 10-15 students in a batch from all over India</p>
        </details>
        <details>
          <summary>How can we join these classes?</summary>
          <p class="text">Step 1 -&gt; Register yourself on our website.<br> Step 2 -&gt; Then there will be a Free Trial
            Class.<br> Step 3 -&gt; And you are good to go😊.<br> Hurray! Now you have joined the classes</p>
        </details>
        <details>
          <summary>How many classes will be taken every day?</summary>
          <p class="text">There can be maximum 3 and minimum 1 classes per day</p>
        </details>
        <details>
          <summary>How many subjects are there?</summary>
          <p class="text">For RMS & Sainik School 6:<br>1. English<br>2. Mathematics<br>3. General Knowledge<br>4.
            Resoning</p>
          <p class="text">For RMS & Sainik School 9:<br>1. English<br>2. Mathematics<br>3. Science<br>4.
            Resoning<br>5. Hindi<br>6. Social Science</p>
          <p class="text">For class 6 to 8:<br>1. English<br>2. Mathematics<br>3. Social Science<br>4. Science</p>
          <p class="text">For class 9 and 10:<br>1. English<br>2. Mathematics<br>3. Social Science<br>4. Science</p>
        </details>
        <details>
          <summary>Is it only for CBSE?</summary>
          <p class="text">Yes, It is only for the students of CBSE<br>And For the students who are preparing for RMS & Sainik
            School</p>
        </details>

    </div>
    <a class="btn text-white" style="background-color: #183153; margin: 1.5rem;" routerLink="/home" fragment="contact">Ask a Question?</a>

  </div>
</div>
